/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset thẻ cơ bản */
html, body {
  background: url(../../../public/images/bg-body-2025_v2.webp) no-repeat bottom center;
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size-base;
  // background-color: #fff;
  color: #222;
}

/* Link và list */
a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button, input, textarea {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}
